* {
    padding: 0;
    margin: 0;
}

.status_service {
    display: none;
    position: absolute;
    left: -93px;
    top: 7px;
    border: 1px solid;
    background: #fff;
}

.dspBlock {
    display: block!important;
}

.dspNone {
    display: none!important;
}

.clear {
    clear: both;
}

/* BGCOLOR STATUS*/

.good {
    background: #75EA7B;
}
.recieved {
    background: #F9E238;
}
.progress {
    background: #FFA641;
}
.archive {
    background: #8F8F8F;
}
.bad {
    background: #F31515;
}

/* BGCOLOR STATUS*/