* {
    padding: 0;
    margin: 0;
}

.dspBlock {
    display: block;
}

.dspNone {
    display: none;
}

/* BGCOLOR STATUS*/

.good {
    background: #75EA7B;
}
.recieved {
    background: #F9E238;
}
.progress {
    background: #FFA641;
}
.archive {
    background: #8F8F8F;
}
.bad {
    background: #F31515;
}

/* BGCOLOR STATUS*/