/*@import "reset.css";*/
@import "helpers.css";

.menu {
    width: 200px;
    float: left;
    border-right: 2px dashed;
    margin-right: 25px !important;
}

.conteiner {
    width: 960px;
    float: left;
}

.conteiner,
.menu {
    display: block;
    position: relative;
    margin: 0 auto;
    /*text-align: center;*/
}

.admin_list_service {
    display: block;
    position: relative;
    text-align: center;
}

.admin_list_service caption {
    font: bold 16px/24px Courier, sans-serif;
}
.admin_list_service tr{
    font: normal 12px/24px Courier, sans-serif;
}

.admin_list_service tr td{
    padding: 5px 7px;
    font: normal 12px/24px Courier, sans-serif;
}

.admin_list_service th{
    padding: 5px;
    font: bold 12px/24px Courier, sans-serif;
    border: 1px solid #333;
}

.admin_list_service tr:nth-child(1) {
    background: #dddddd;
}

.admin_list_service tr:hover:not(:nth-child(1)) {
    background: #fff;
    /*cursor: pointer;*/
}

.admin_form_add_service_btn {
    display: block;
    position: relative;
    margin: 20px auto;
    width: 150px;
    border: 1px solid #333;
    padding: 5px;
    cursor: pointer;
}



.menu_box {
    display: block;
    position: relative;
    overflow: hidden;
}
.menu_box_ {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    display: block;
    position: relative;
}

    .menu_box_ li {
        margin: 5px;
        padding: 5px;
        text-align: left;
    }

.agreement_form {
    width: 960px;
    position: relative;
    display: block;
    margin: 0 auto;
}
.agreement_form fieldset {
    padding: 10px;
    float: left;
    margin: 10px;
}

.service_block_add_new_field_btn,
.service_block_drop_new_field_btn {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.user_info {
    text-align: left;
    border-bottom: 1px dashed;
    padding: 7px;
}

.user_login,
.user_access {
 font-weight: bold;
}

.table_list {
    border: 1px solid #333333;
}

.tbl_list_setting {
    cursor: pointer;
}

.good,
.recieved,
.progress,
.archive,
.bad {
    /*position: relative;*/
}

.row_setting {
    display: none;
    position: absolute;
    width: 95px;
    right: 40px;
    border: 1px solid;
    background: #fff;
    padding: 10px;
    margin-top: -31px;
    margin-right: 41px;
    height: auto;
    z-index: 100;
}


.close_setting {
    position: fixed;
    display: none;
    background: #333;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    opacity: .4;
    z-index: 10;
    cursor: pointer;
}

.row_setting p:hover {
    background: #fffa90;
}

.statistic_box {
    display: none;
    position: absolute;
    left: 0;
    top:0;
}

.statistic_list {
    list-style-type: none;
    width: 400px;
    display: none;
    position: relative;
    margin: 0 auto;
    border: 2px solid #656363;
    z-index: 15;
    background: #FFF;
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,.6);
}

.btn_edit {
    cursor: pointer;
    display: block;
    position: relative;
}

.form_change_service input,
.form_change_service textarea {
    padding: 5px;
}
.form_change_service {
    display: block;
    border: 1px solid;
    width: 260px;
    height: 300px;
    background: #fff;
    padding: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
    z-index: 15;
}

.btn:hover {
    border:1px solid #8aabc5;
    background-color: #acc4d6; background-image: -webkit-gradient(linear, left top, left bottom, from(#acc4d6), to(#434f55));
    background-image: -webkit-linear-gradient(top, #acc4d6, #434f55);
    background-image: -moz-linear-gradient(top, #acc4d6, #434f55);
    background-image: -ms-linear-gradient(top, #acc4d6, #434f55);
    background-image: -o-linear-gradient(top, #acc4d6, #434f55);
    background-image: linear-gradient(to bottom, #acc4d6, #434f55);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#acc4d6, endColorstr=#434f55);
}
.btn {
    cursor: pointer;
    border:1px solid #a8c1d5; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
    background-color: #CEDCE7; background-image: -webkit-gradient(linear, left top, left bottom, from(#CEDCE7), to(#596a72));
    background-image: -webkit-linear-gradient(top, #CEDCE7, #596a72);
    background-image: -moz-linear-gradient(top, #CEDCE7, #596a72);
    background-image: -ms-linear-gradient(top, #CEDCE7, #596a72);
    background-image: -o-linear-gradient(top, #CEDCE7, #596a72);
    background-image: linear-gradient(to bottom, #CEDCE7, #596a72);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#CEDCE7, endColorstr=#596a72);
}

.btn_close {
    color: #0042ff;
    position: absolute;
    right: 20px;
    cursor: pointer;
}